
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f7f7f7, #e3e3ff);
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #6a5acd;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Merriweather', serif;
}

.content {
  max-width: auto;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.sides{
    display: flex;
    flex-direction: row;

}

.navbar{
    display: flex;
    gap: 25px;
  
    
}

.main{
    width: 50%;

}
.sidebar{
    width: 50%;
}
h1, h2, h3 {
  font-family: 'Merriweather', serif;
  color: #2d2d6b;
}

p {
  font-size: 1rem;
}

ol, ul {
  margin: 15px 0;
  padding-left: 30px;
}

ol li {
  margin-bottom: 8px;
}

ul li {
  margin-bottom: 6px;
  list-style-type: square;
}



.img-box {
  text-align: center;
  margin: 20px 0;
}

img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


a {
    display: flex;
  color: #6a5acd;
  text-decoration: none;
  font-weight: 600;
  
}

form{
    display: flex;
    flex-direction: column;
    border: #483d8b 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 25px;
    gap: 25px;
    
   
}

.input{
  display: flex;
  flex-direction: row;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto 0;
}
a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #6a5acd;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #483d8b;
}


footer {
  text-align: center;
  padding: 15px;
  background: #2d2d6b;
  color: white;
  margin-top: 30px;
}

#table-title {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #2d2d6b;
  margin-bottom: 20px;
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
}

th {
  background-color: #6a5acd;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}


tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.highlight-row {
  background-color: #ffeb99;

}

